.product-card {
    padding: 10px;
     height: auto;
     width: 300px;
     border: 2px solid black;
 }
     input {
         font-family: Helvetica, sans-serif;
         border: none;
         margin: 3px;
     }
     hr {
         width: 100%;
         margin-bottom: 20px;
     }
     h3 {
         font-family:  Helvetica, sans-serif;
     }
     mat-label {
         font-family:  Helvetica, sans-serif;
         font-size: small;
     }
     hover{
         transition: 400ms;
        transform: translateY(5px);
        box-shadow: 0 5px;
        color:aqua;
    }
    active{
        transition: 100ms;
        transform: translateY(10px);
        box-shadow: 0 0px;
        color: blueviolet;
    }
 
 
 img {
     height: 200px;
 }
 
 .product-card-inner {
     height: 100%;
 }
 p {
     font-family:  Helvetica, sans-serif;
     }
 
 .content {
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-gap: 10px;
     padding: 10px;
 }
 
 .category-name {
     font-size: 30px;
     text-align: center;
     font-weight: bold;
     padding-top: 15px;
 }
 
 .category-title {
     text-align: center;
 }
 
 
 .card-product-card {
     background-color: rgba(255, 255, 255, 0.8);
     border: 2px solid rgba(0, 0, 0, 0.8);
     padding: 65px;
     font-size: 30px;
     text-align: center;
     display: grid;
 }
 
 .header {
     margin: 30px;
 }