<!-- Works-->
<div class="header">
    <h1 class="category-title">Categories</h1>
  </div>
<div class="content">
    <ng-container>
        <div class="card-container">
            <div class="card product-card">
              
              <img src="assets/images/Sports-Header.png" alt="Icon">
                <div class="product-card-inner">
                    <p class="category-name">Sports</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card product-card">
              
              <img src="assets/images/Nature.jpg" alt="Icon">
                <div class="product-card-inner">
                    <p class="category-name">Nature</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card product-card">
              
              <img src="assets/images/Gaming.jpg" alt="Icon">
                <div class="product-card-inner">
                    <p class="category-name">Gaming</p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card product-card">
              
              <img src="assets/images/Animals.jpg" alt="Icon">
                <div class="product-card-inner">
                    <p class="category-name">Animals</p>
                </div>
            </div>
        </div>
    </ng-container>
    
  </div>