<button mat-icon-button (click)="toggleSelected()">

    <mat-icon
      *ngIf="selected"
    
      aria-label="Example icon-button with a heart icon">
      favorite
    </mat-icon>
  
    <mat-icon
      *ngIf="!selected"
    
      aria-label="Example icon-button with a heart icon">
      favorite_border
    </mat-icon>
  
  </button>

  <div class="addComponent">
    
  
  </div>
  <ul>
    <li *ngFor="let item of favsList; let i = index" >
      <label>{{item}}</label>
      <!--<button (click)="removeItem(i)" > Remove </button>-->
    </li>
  </ul>

